<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Логин</title>
</head>
<body>
    <form action="/login_form", method="post">
        <div class="container">
            <div class="navigation">
                <a class="nav-btn" href="/"><p>Назад на главную страницу</p></a>
            </div>
            <h1>Вход</h1>
            <p>Пожалуйста, введите данные для входа</p>
            <hr>

            <label for="username"><b>Имя пользователя</b></label>
            <input type="text" placeholder="Введите имя пользователя" name="username" id="username" required>

            <label for="psw"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="password" id="psw" required>
            <hr>

            <button type="submit" class="loginbtn">Войти</button>
        </div>

        <div class="container signin">
            <p>Нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
        </div>
    </form>
</body>
</html>